@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-green {
        @apply border border-solid border-green-600 bg-green-600 text-white rounded-md p-1
    }

    .btn-red {
        @apply border border-solid border-red-600 bg-red-600 text-white rounded-md p-1
    }

    .btn-yellow {
        @apply border border-solid border-yellow-400 bg-yellow-400 text-black rounded-md p-1
    }

    .label {
        @apply text-sm py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold text-gray-600 rounded-full
    }

    .container{
        position: relative;
        width: 320px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
    }

    .carrousel{
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        animation: rotate360 60s infinite forwards linear;
    }

    .image{
        position: absolute;
        width: 300px;
        height: 187px;
        top: 20px;
        left: 10px;
        right: 10px;
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.5);
        display: flex;
    }

    .span{
        text-align: center;
        margin: 10 10 10 10;
        font-size: 2rem;
    }

    @keyframes rotate360 {
        fron{
            transform: rotateY(0deg);
        }
        to{
            transform: rotateY(-360deg);
        }
    }

    .image:nth-child(1){
        background-color: #321654;
        transform: rotateY(0deg) translateZ(430px);
    }
    .image:nth-child(2){
        background-color: #321654;
        transform: rotateY(40deg) translateZ(430px);
    }
    .image:nth-child(3){
        background-color: #321654;
        transform: rotateY(80deg) translateZ(430px);
    }
    .image:nth-child(4){
        background-color: #321654;
        transform: rotateY(120deg) translateZ(430px);
    }
    .image:nth-child(5){
        background-color: #321654;
        transform: rotateY(160deg) translateZ(430px);
    }
    .image:nth-child(6){
        background-color: #321654;
        transform: rotateY(200deg) translateZ(430px);
    }
    .image:nth-child(7){
        background-color: #321654;
        transform: rotateY(240deg) translateZ(430px);
    }
    .image:nth-child(8){
        background-color: #321654;
        transform: rotateY(280deg) translateZ(430px);
    }
    .image:nth-child(9){
        background-color: #321654;
        transform: rotateY(320deg) translateZ(430px);
    }
}